// imports
@import "includes/mixins.scss";
@import "includes/variables.scss";

// class mere
.message
{
	height: 50px;
	width: 100%
}

.error
{   // heritage
	@extends .message;
	background-color: red;
}

.success
{	// heritage
	@extends .message;
	background-color: green;
}
