// imports
@import "includes/mixins.scss";
@import "includes/variables.scss";

.test{
	height: $height;
	width: $width;
	padding: $padding;
	background-color: skyblue;
	// appliquation du border radius
	@include border-radius(20px);
	p{
		color: $color;
	}
}